
.vol{
        margin-top: 80px;
        text-align: center;
        transition: 0.2s;
}
.volver{
    text-align: center;
background-color: rgb(184, 16, 16);
color: white;
padding: 15px;
font-size: 20px;
text-decoration: none;
border-radius: 10px;
}
section{
    display: flex;
}
article img{
    width: 90%;
    border-radius: 10px;
    border: 3px solid rgb(138, 15, 15);
}
article{
    width: 40%;
   padding-left: 5%;
}
.prod{
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    color: black;
}
.prodt{
    padding-top: 10%;
    font-size: 30px;
    text-align: center;
}

