body{
    background-color: rgb(119, 8, 8);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 10px;
}
header{
    background-color: black;
}
header, h1{
    text-align: center;
}
.nave{
    margin: 40px;
    color: white;
text-decoration: none;
margin-right: 4%;
}
.nave1{
        margin: 40px;
    color: red;
text-decoration: none;
margin-right: 4%;
}
nav{
    margin-top: 5px;
}
.foto{
    align-items: center;
    height: 250px;
width: 90%;
}
main{
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 50px;
}

main h1{
    color: rgb(146, 11, 11);
    padding-top: 10%;
    font-size: 120px;
    margin-top: 0px;
}
footer{
    text-align: right;
    background-color: black;
    height: 100px;
    color: white;
    margin-top: -20px;
}
footer p{
    padding-top: 30px;
    padding-right: 15px;
}
main h1{
    color: rgb(146, 11, 11);
    padding-top: 5%;
    font-size: 120px;
    margin-top: 0px;
}
audio{
    width: 100px;
    height: 50px;
    position: fixed;
    right: 200px;
    bottom: 10%;
    z-index: 10;
}
#audio{
    position: fixed;
    padding-left: 0%;
}
*{
    font-family: sans-serif;
}
@media (max-width: 600px) {
    body{
        margin: 0%;
        padding: 0%;
    }
    nav{
        display: none;
    }
    .foto{
        width: 31%;
        height: 28%;
    }
    #hmb{
        z-index: 99999;
        position: fixed;
        left: 0;
        top: 0;
    }
    #hmb img{
        width: 16%;
    }
    header{
        width: 100%;
        top: 0%;
        left: 0%;
    }
    main h1{
    font-size: 48px;
    padding-top: 28%;
    }
    header{
        position: fixed;
    }
    main{
        background-color: white;
    }
}



