.vol{
        margin-top: 80px;
        text-align: center;
        transition: 0.2s;
}
.volver{
    text-align: center;
background-color: rgb(184, 16, 16);
color: white;
padding: 15px;
font-size: 20px;
text-decoration: none;
border-radius: 10px;
}
h1{
    padding-left: 10%;
    padding-right: 10%;
}