
.pjs{
    padding-bottom: 50px;
    border: 2px black;
}
.prod{
    text-align: center;
    color: brown;
    margin-top: 0px;
    padding-top: 20px;
    font-size: 50px;
}
.prodt{
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10%;
    padding-right: 10%;
}
.pjc{
    margin-top: 0px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid rgb(138, 15, 15);
    margin-bottom: 15px;
}
section{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
